/* 
    Document   : login
    Created on : Mar 16, 2014, 3:34:37 PM
    Author     : poonkaho
    Description:
        Purpose of the stylesheet follows.
*/
.login-title {
    text-align:  center;
    color: #999;
    font-size: 28px;
    margin-top: -10px;
}

.diaglog-form input {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #09C;
    width: 280px;
    height: 40px;
    border-radius: 3px;
    margin-top: 2px;
    padding-left: 10px;
    color: #6c6c6c;
    background: #fcfcfc;
    outline: none;
    font-size: 12px;
}

.diaglog-form input:focus {
    box-shadow: inset 0 0 3px #09F;
    color: #666;
    background: white;
}

.ui-button {	

    border-radius: 3px;
    border: 1px solid #336895;
    box-shadow: inset 0 1px 0 #8dc2f0;
    width: 290px;
    height: 40px;

    background: #5BA7E9;

    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 #336895;

    font-size: 13px;
}

.ui-button:hover {
    background: #6bafea;
}

.ui-button:active {
    background: #4889C2;

}

.loginByOthers {
    margin-bottom: 1em;
    text-align: center;
}

.loginByOthers img {
    margin: 2px 15px;
    cursor: pointer;
    height: 50px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -webkit-box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.300);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.300);
    border: 2px solid transparent;
}

.loginByOthers img:hover {
    border-color: #09C;
}

.personalInfo-display {
    margin: 2em 1em;
}

.personalInfo-display div{
    margin: 5px 0;
}

#dialog-tagList {
    height:30px;
    line-height: 30px;
}

#dialog-commentList {
    height:30px;
    line-height: 25px;
}

#tag-display div {
    margin:10px 0px;
}

#tag-display div:hover {
    color: royalblue;
    cursor: pointer;
}

#tag-display img {
    height:30px;
    float:right;
}

.comment-display {
    font-size: 15px;
    font-family: Roboto,Arial,sans-serif;
    margin: 50px 50px 200px 50px;
}

.comment-display cpan {
    font-size: 12px;
    font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", monospace;
}

#sortList button {
    width: 30%;
    margin-top: 5px
}

#pageBox button {
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #336895;
    box-shadow: inset 0 1px 0 #8dc2f0;
    width: 30px;
    height: 30px;

    background: #5BA7E9;

    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 #336895;

    font-size: 13px;
}

#pageBox button:hover {
    background: #6bafea;
}

#pageBox button:active {
    background: #4889C2;

}