<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ProductSearch_3PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>bean.Cloth</class>
    <class>bean.ChatRoom</class>
    <class>bean.KeyboardType</class>
    <class>bean.SIMCardType</class>
    <class>bean.Navigation</class>
    <class>bean.CPUCoreType</class>
    <class>bean.StoreMerchandise</class>
    <class>bean.WLANType</class>
    <class>bean.MobileType</class>
    <class>bean.CPUManufacturer</class>
    <class>bean.Tag</class>
    <class>bean.ConnectivityAndSharing</class>
    <class>bean.UserStatus</class>
    <class>bean.Flash</class>
    <class>bean.UpperGarment</class>
    <class>bean.Category</class>
    <class>bean.FlashMemoryCard</class>
    <class>bean.MachineInterface</class>
    <class>bean.Comment</class>
    <class>bean.TouchScreenType</class>
    <class>bean.StoreUpperGarmentChoice</class>
    <class>bean.PromotionPreference</class>
    <class>bean.SensorType</class>
    <class>bean.Mobile</class>
    <class>bean.PromotionScheme</class>
    <class>bean.User</class>
    <class>bean.Brand</class>
    <class>bean.ScreenMaterial</class>
    <class>bean.MobileNetworkStandard</class>
    <class>bean.LowerGarment</class>
    <class>bean.Store</class>
    <class>bean.Merchandise</class>
    <class>bean.OperatingSystem</class>
    <class>bean.Message</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://tyt06326.no-ip.org:3306/productsearchweb?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="fyp"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="fyp"/>
      <!--<property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/productsearchweb?zeroDateTimeBehavior=convertToNull"/>-->
      <!--<property name="javax.persistence.jdbc.password" value="root"/>-->
      <!--<property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>-->
      <!--<property name="javax.persistence.jdbc.user" value="root"/>-->
    </properties>
  </persistence-unit>
</persistence>
